<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ edad >= 18 ? edad : "Menor de edad" }}</p>
<p>Empresa del empleado: {{ empresa }}</p>
 

<!-- Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="cuadroHabilitado"> -->
Introduce la empresa: <input type="text" [(ngModel)]="empresa">


<br>
<br>

<!-- <button type="button" value="deshabilitado" (click)="mostrarEmpresa(empresa.value, $event)">Mostrar Empresa</button> -->

<br>
<br>

